<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px;">
  <div class="col-10">
      <h4 
          style="color:rgb(120,120,120);margin-bottom:4px">
            {{job['title']}}
      </h4>
      <div>
          <b>Descriptions:</b>{{job['descriptions']}}
      </div>
    <div>
          <b>completion date:</b>{{job['completion_date']}}
  </div>
     <div>
          <b>tech stack:</b>{{job['tech_stack']}}
  </div>
      
  </div>
          <div class="col-2 padding-right:16px">
            
           <a href="{{job['Link']}}" type="button" class="btn btn-outline-primary float-right align-middle" >View</a>
        
          </div>
        </div>


          